* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RYUMA;
  src: url('../Morganite-Bold.ttf') format('truetype');
  font-weight: 700;
}

.module-teams-pause-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  font-family: RYUMA !important;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 150px;
}
h2 {
  font-size: 130px !important;
  margin-bottom: -20px;
  letter-spacing: 10px;
}

#container {
  position: absolute;
  top: 41%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match:not(:last-child) {
  margin-bottom: 15px;
}

.blue {
  color: var(--blue-team);
}

.red {
  color: var(--red-team);
}

.score {
  display: none;
}

.vs {
  color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: 0 275px;
  line-height: 1;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  width: 140px;
}

.tag.blue {
  text-align: center;
}

.tag.red {
  text-align: center;
}

.tag.outline {
  -webkit-text-stroke-width: 3px;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
}

.shards {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.shard {
  flex-grow: 1;
  display: inline-block;
  border-radius: 5px;
  border: 6px solid white;
  opacity: 0.3;
}

.shards.blue .shard.full {
  background-color: var(--blue-team);
  border-color: var(--blue-team);
  opacity: 1;
}

.shards.red .shard.full {
  background-color: var(--red-team);
  border-color: var(--red-team);
  opacity: 1;
}

.shards.red {
  flex-direction: row-reverse;
}

.shards.outline .shard {
  background: transparent !important;
}
