* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RYUMA;
  src: url("../GothamMedium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: RYUMA;
  src: url("../GothamBold.ttf") format("truetype");
  font-weight: 600;
}

.module-teams-talk-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  font-family: RYUMA !important;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  font-size: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  position: relative;
}

.blue {
  /* color: var(--blue-team); */
  font-weight: 600;
}

.red {
  /* color: var(--red-team); */
  font-weight: 600;
}

.team {
  display: none;
  align-items: center;
  position: absolute;
}

#blue-team {
  right: 55%;
}

#red-team {
  flex-direction: row-reverse;
  left: 55%;
}

.vs {
  padding: 0 50px;
  color: var(--accent-color);
  font-family: RYUMA;
  font-weight: 600;
  font-size: 100px;
  margin: 0 35px;
  margin-top: 15px;
}

.tag,
.score {
  font-family: RYUMA;
  font-weight: 600;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 1;
}

.score {
  display: none;
}

.has-scores .score {
  display: block;
}

.tag.outline {
  -webkit-text-stroke-width: 3px;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
}

.name {
  line-height: 1;
  text-transform: uppercase;
  font-size: 45px !important;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 150px;
}

#blue-name {
  text-align: right;
}

#red-name {
  margin-left: 0px;
}

.has-scores #blue-tag {
  margin-right: 40px;
}
.has-scores #red-tag {
  margin-left: 40px;
}
